<!--Patrick-->

{% extends 'mango_disease_app/site_base/base.html' %}

{% load static %}

{% block page_title %}Disease and Pest List{% endblock %}
{% block page_header %}Disease and Pest List{% endblock %}

{% block content %}
    {% for category_name, items in data.items %}
        <h2>{{ category_name }}</h2>
        {% for item in items %}
            <a href="{% url 'ind_disease' name=item.diseaseName %}">
            <div class="list_item">
                <div><img class="disease_list_img" src="{{ item.image.url }}"></div>
                <div><h3>{{ item.diseaseName }}</h3>
                <p>{{ item.shortDescription }}</p></div>
            </div></a>
        {% endfor %}
    {% endfor %}
{% endblock %}