<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mango Pest and Diseases - Home</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body style="margin:0; padding: 0;">
    <!--We could prob include an entire header/nav bar in block-->
    <header class = 'header' style="height: 8vh; border: 1px black solid;">
        <nav class = 'navbar'>
            <div>THIS IS WHERE AN LOGO SHOULD GO</div>
            <div class="navitem"><a href="{% url 'home' %}">Home</a></div>
            <div class="navitem"><a href="{% url 'diseases'%}">Diseases and Pests</a></div> <!--Perhaps dropdown to link to each disease?-->
            <div class="navitem"><a href="{% url 'about' %}">About</a></div>
        </nav>
    </header>
    <main style="margin: auto;">
        <!--Hero Splash-->
        <section style="height: 35vh; border: 1px black solid;" >
            <div class="container hero" style="height: 100%;">
                <div class ="hero-image" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('Mangopile.avif');height: 100%; max-width: 100%; background-position: center; background-repeat: no-repeat; background-size: cover; position: relative;">
                <div class ="hero-text" >
                    <h1 style="margin: 0;">Mangos</h1>
                </div>
            </div>
        </section>
        <!--Intro Area-->
        <section class="intro" style="height: 60vh; border: 1px black solid;">
            <div class = 'contentcontainer'>
                <div class="container">
                    <div class = 'introtext'>
                        <!--Placeholder text-->
                        <h2>Mango Care</h2>
                        <p>This is where we put some intro text</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo quo aperiam animi ipsum, hic ratione dignissimos debitis cumque mollitia eveniet dolorem maiores inventore facere laudantium quis dolorum iusto veniam recusandae!</p>
                        <button><a href="diseases.html">Go to Disease info</a></button>
                    </div>
                </div>
            </div>
        </section>
        <!--Cards-->
        <section style="height: 80vh; border: 1px black solid;">
            <div class = 'container'>  
                <div class = card>Mango Diseases</div>
                <div class = card>Mango tools</div> <!--Placeholder cards for future features-->
            </div>
        </section>
    </main>
    <footer style="height: 50px; border: 1px black solid;"> <!--Could also just be an include-->
        <div class="container">
            <p class="test">Group 2 the best</p> 
        </div>
    </footer>
</body>
</html>