{% extends 'mango_disease_app/site_base/base.html' %} 

{% block page_title %}Edit Record{% endblock %}
{% block page_header %}Edit Record{% endblock %}

{% load static %} 

{% block content %}
<a href="javascript:history.back()" class="back-button">← Back</a>

	{% if new_record %}
		<div class="record-success">
			<h2>Record Edited!</h2>
			<p>
				You have edited the record taken on {{ new_record.recordedAt }}.
			</p>
            <a href="{% url 'records' new_record.case.id %}">Return to Records</a>
		</div>
	{% endif %}

	<form action="{% url 'edit_record' id %}" method="post" novalidate>
		{% csrf_token %}
		<table>
			{{ form.as_table }}
		</table>
		<input type="submit" value="Save Changes">
	</form>
{% endblock %}