<!-- HTML file last updated by Snelling April 7 2025 -->

{% extends 'mango_disease_app/base.html' %}

{% block page_title %}About Us{% endblock %}
{% block page_header %}About Us{% endblock %}

{% block content %}
    <h2>Our Team</h2>
    {% for item in cards %}
        <div class="card">
            <img class="author_img" src="{{ item.image.url }}">
            <div class="card-container">
                <h3>{{ item.name }}</h3>
                <h4>{{ item.degree }}</h4>
                <p>{{ item.interests }}</p>
                
                <div class="traits-box">
                    <h5>PERSONALITY TRAITS</h5>
                    <label for="meter">Collaborator - Independent</label>
                    <div class="meter">
                        <span 
                        style="width:{{ item.collaborator_independent }}%">
                        </span>
                    </div>
                    <label for="meter">Big Picture - Detail Oriented</label>
                    <div class="meter">
                        <span style="width:{{ item.bigPicture_detailOriented }}%"></span>
                    </div>
                    <label for="meter">Communicator - Listener</label>
                    <div class="meter">
                        <span style="width:{{ item.communicator_listener }}%"></span>
                    </div>
                    <label for="meter">Creative - Practical</label>
                    <div class="meter">
                        <span style="width:{{ item.creative_practical }}%"></span>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}