<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <!--We could prob include an entire header/nav bar in block-->
    <header class = 'header' style="height: 8vh; border: 1px black solid;">
        <nav class = 'navbar'>
            <div>THIS IS WHERE AN LOGO SHOULD GO</div>
            <div class="navitem"><a href="{% url 'home' %}">Home</a></div>
            <div class="navitem"><a href="{% url 'diseases'%}">Diseases and Pests</a></div> <!--Perhaps dropdown to link to each disease?-->
            <div class="navitem"><a href="{% url 'about' %}">About</a></div>
        </nav>
    </header>
    <main>
        <section>
            
        </section>
    </main>
</body>
</html>