{% extends 'mango_disease_app/base.html' %} 

{% block page_title %}Account Page{% endblock %}

{% block page_header %}
{% if user.is_authenticated %}
    {% if user.is_superuser %}
        Welcome, Admin {{ user.username }}!
    {% else %}
        Welcome, {{ user.username }}!
    {% endif %}
{% else %}      
    Welcome, guest. Please log in to access account features.
{% endif %}
{% endblock %}

{% load static %} 

{% block content %}
    {% if user.is_authenticated %}

    <!-- COMMENT STARTS HERE-->
    {% comment %}
        {% if orchards %}
        <div class ='account-dashboard option' >
            
            <h1>Dashboard</h1>
            <div class='tab'>
            {%for orchard in orchards%}
                <button class='tablink' onclick="orchardTab(event, 'orchard-{{ orchard.id }}')">{{orchard.orchardName}}</button>
            {% endfor %}
            </div>
            {%for orchard in orchards%}
                <div id="orchard-{{ orchard.id }}" class="tabcontent">
                    <h3>{{orchard.orchardName}}</h3>
                    <h3>{{orchard.variety}}</h3>
                    <h3>Recent Reports</h3>
                    <table>
                    {% for record in orchard.recent_records%}
                        <tr>
                            <td>{{record.recordedAt}}</td>
                            <td>{{record.disease.diseaseName}}</td>
                        </tr>
                    {% empty %}
                        <tr><td colspan="2">No records yet.</td></tr>
                    {% endfor %}
                    </table>
                </div>
            {% endfor %}
        </div>
        {% endif %}
    {% endcomment %}
    <!-- COMMENT ENDS HERE-->
     
        <div class="account-options">
            <h2>Choose an Option</h2>

            <!-- Option 1: Planner -->
            <a href="{% url 'plan' %}" class="option">
                <h3>Planner</h3>
                <p>View the generated planner to help manage your orchards and limit disease.</p>
            </a>

            <!-- Option 2: Cases -->
            <a href="{% url 'cases' %}" class="option">
                <h3>Cases</h3>
                <p>Manage your disease and pest cases and record details of your findings in your orchards.</p>
            </a>

            <!-- Option 3: Orchards -->
            <a href="{% url 'add_orchard' %}" class="option">
                <h3>Orchards</h3>
                <p>Create and manage your orchards.</p>
            </a>
            {% if user.is_superuser %}
                <!-- Option 4*: Admin -->
                <a href="{% url 'admin_tools' %}" class="option">
                    <h3>Admin Tools</h3>
                    <p>Admin-only data entry forms.</p>
                </a>
            {% endif %}
        </div>
    <script src="{% static 'js/dashboard.js' %}"></script>
    {% else %}
        <p>Welcome, new user. Please log in.</p>
    {% endif %}
{% endblock %}
