{% extends 'mango_disease_app/base.html' %} 

{% block page_title %}Admin{% endblock %}
{% block page_header %}Admin{% endblock %}

{% load static %} 

{% block content %}
<a href="javascript:history.back()" class="back-button">← Back</a> 

	{% if new_disease %}
		<div class="record-success">
			<h2>New Disease Added!</h2>
			<p>
				You have added the {{ new_disease.type }}, {{ new_disease.name }}.
			</p>
		</div>
	{% endif %}

	<form action="{% url 'add_disease' %}" method="post" novalidate>
		{% csrf_token %}
		<table>
			{{ form.as_table }}
		</table>
		<input type="submit" value="Add Disease">
	</form>
{% endblock %}