{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %}Disease Title{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
    <link rel="stylesheet" href="{% static 'css/orchard.css' %}">

    {% block custom_head_entries %}{% endblock %}
</head>
<body>

    <!--navbar for small and large menus, for scalability as links grow.-->
    {% include "mango_disease_app/patterns/navbar_large.html" %}
    {% include "mango_disease_app/patterns/navbar_small.html" %}

    <header class='header'>
        <h1>{% block page_header %}Mango Diseases{% endblock %}</h1>
    </header>

    <main>
        <div class="main-container">
            {% block content %}{% endblock %}
        </div>
    </main>

    <footer>
        <p>Website Created By Group 2 for learning purposes only</p>
        <p>HIT237 Charles Darwin University</p>
        <p>Find our code on <a style="color: white; text-decoration: underline;" href="https://github.com/frank-895/mango_disease_web_app/">GitHub</a></p>
    </footer>

</body>
</html>