{% extends 'mango_disease_app/base.html' %} 

{% block page_title %}Account{% endblock %}
{% block page_header %}Account{% endblock %}

{% load static %} 

{% block content %}
<h2>Your cases</h2>

<a href="{% url 'new_case' %}" class="new-button">+ Add Case</a>

{% if cases %}
<div class="orchard-grid">
    {% for case in cases %}
        <div class="orchard-card">
            <div class="image-wrapper">
                <img class="author_img" src="{{ case.disease.image.url|default:"diseasse_images/defualt.png" }}">
            </div>
            <h3 class="orchard-name">{{ case.disease.diseaseName }} in {{ case.orchard.orchardName}}</h3>
            <p><strong>Part of Plant:</strong> {{ case.partOfPlant }}</p>
            <div class="card-actions">
                <a href="{% url 'records' case.id %}" class="action-link">Edit</a>
                <a href="{% url 'account' %}" class="action-link delete-link" onclick="return confirm('Delete this orchard?');">Resolve</a>
            </div>
        </div>
    {% endfor %}
</div>
{% else %}
    <p>No orchards added yet.</p>
{% endif %}
{% endblock %}