<!--Patrick-->

{% extends 'mango_disease_app/base.html' %}

{% load static %}

{% block page_title %}Disease and Pest List{% endblock %}
{% block page_header %}Disease and Pest List{% endblock %}

{% block content %}
    <h2>Diseases</h2>
    {% for disease in data %}
        <a href="{% url 'ind_disease' name=disease.diseaseName %}">
        <div class="list_item">
            <div><img class="disease_list_img" src="{{ disease.image.url }}"></div>
            <div><h3>{{ disease.diseaseName }}</h3>
            <p>{{ disease.shortDescription }}</p></div>
        </div></a>
    {% endfor %}
{% endblock %}