<!--Patrick-->

{% extends 'mango_disease_app/base.html' %}

{% load static %}

{% block page_title %}Disease and Pest List{% endblock %}
{% block page_header %}Disease and Pest List{% endblock %}

{% block content %}
    <h2>Diseases</h2>
    {% for item in diseases %}
        {% if item.pest == False %}
            <a href="{% url 'ind_disease' name=item.name %}">
            <div class="list_item">
                <div><img class="disease_list_img" src="{% static 'images/' %}{{ item.image|default:'defualt_disease.jpg' }}"></div>
                <div><h3>{{ item.name }}</h3>
                <p>{{ item.sdesc }}</p></div>
            </div></a>
        {% endif %}
    {% endfor %}
    <h2>Pests</h2>
    {% for item in diseases %}
        {% if item.pest == True %}
        <a href="{% url 'ind_disease' name=item.name %}">
        <div class="list_item">
            <div><img class="disease_list_img" src="{% static 'images/' %}{{ item.image|default:'defualt_disease.jpg' }}"></div>
            <div><h3>{{ item.name }}</h3>
            <p>{{ item.sdesc }}</p></div>
        </div>
        {% endif %}
    {% endfor %}
{% endblock %}