{% extends 'mango_disease_app/base.html' %}

{% load static %}

{%block page_title%} {{disease.name}} {% endblock %}

{%block content %}
    <div class="container cols ">
        <h2 class="disease inddiseasetitle">
            {{disease.name}}    <!--Disease Name-->
            
        </h2>
        <br>
        <div class='diseaseinfo'>
            <div class='col'>
                <img class='diseaseimage'src="{% static 'images/' %}{{ disease.image|default:'defualt_disease.jpg' }}"> <!--Disease Image Link-->
            </div>
            <div class='col'>
    
                <p>{{disease.ldesc}}</p> <!--Disease Long Description-->
                <p>{{disease.control}}</p> <!--Disease Long Description-->
            </div>
        </div>
        <!--This to be expanded based on other fields we include-->
    </div>
{% endblock %}