{% extends 'mango_disease_app/base.html' %}

{% load math_filters %} <!-- to multiply by 10 -->

{% load static %}

{%block page_title%} {{disease.diseaseName}} {% endblock %}

{%block content %}
    <div class="disease-detail">
        <h2 class="disease-title">
            {{disease.diseaseName}}    <!--Disease Name-->
        </h2>
        <div class ="disease-main">
            <div class="disease-image-box">
                <img class="disease-image"src="{{ disease.image.url }}"> <!--Disease Image Link-->
                <div class = "disease-stats">
                    <div class = "stat">
                        <label for="meter">Severity</label>
                        <div class="meter">
                            <span 
                            style="width: {{ disease.severity|multiply:10 }}%;"> <!--Disease Severity-->
                            </span>
                        </div>
                    </div>
                    <div class="stat">
                        <label for="meter">Spreadability</label>
                        <div class="meter">
                            <span 
                            style="width: {{disease.spreadability|multiply:10  }}%;"> <!--Disease Spreadability-->
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class ="disease-text">
                <div>
                    <h3 class = "slabel">Description</h3>
                    <p>{{disease.longDescription}}</p> <!--Disease Long Description-->
                </div>
                <div>
                    <h3 class = "slabel">Control Methods</h3>
                    <p>{{disease.controlMethod}}</p> <!--Disease Control Description-->
                </p>
            </div>

        </div>
    </div>
{% endblock %}

<!--class = "{{ disease.severityclass }}" class = "{{ disease.spreadabilityclass }}"-->