<!-- Ope !-->

{% extends 'mango_disease_app/site_base/base.html' %}
{% load static %} 

{% block title %}Home | Mango Pest & Disease Watch{% endblock %}

{% block content %}
<div class="container">
    <div class="header">
        <img src="{% static 'images/logo.png' %}" alt="Mango Pest & Disease Watch Logo" class="logo">
    </div>
    <p>This site is dedicated to helping mango growers stay informed about common pests and diseases that threaten mango crops in the NT .</p>

    <section>
        <h2>The Importance of Mangoes in the NT</h2>
        <p>Mangoes are the largest horticultural commodity in the Territory, contributing over $128 million to the economy and employing 3500 workers during harvest. Territory mango farmers produce 52% of Australia's crop and supply the first crop of the season to Australian consumers.</p>
    </section>

    <section>
        <h2>What’s This Website About?</h2>
        <p>Mangoes are vulnerable to various pests and fungal diseases that affect crop yield and quality. This website lists 8 major mango pests and diseases and provides helpful information to support early detection and management. The goal is to support the mango industry in the NT by improving crop yeilds, enhancing fruit quality and increasing economic benefits.</p>
    </section>

    <section>
        <h2>What You’ll Find</h2>
        <ul style="margin-left:15px;">
            <li>An expanding list of diseases you can track in your orchard</li>
            <li>Detailed info pages for each pest/disease</li>
            <li>Images and symptoms to help identification</li>
            <li>The ability to define your orchards and make records within or outside of cases of disease</li>
            <li>A planner service to generate a disease monitoring plan for all orchards</li>
            <li>A planner service to generate a disease monitoring plan for all orchards</li>
            <li>Admin users can also define new diseases, locations, and mango varieties</li>
            <li>Existing users can easily be promoted to admin status.</li>
        </ul>
    </section>

<h2>Mango Pest & Disease Watch Video</h2>

<div class="video-container">
<iframe width="560" height="315" 
  src="https://www.youtube.com/embed/3TwOE8ZsuOM?si=IfeLfdqkEulhkSIp" 
  title="YouTube video player" frameborder="0" 
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" 
  allowfullscreen></iframe>
</div>

    <section style="margin-top: 2rem; text-decoration: underline;">
        <a href="{% url 'diseases' %}" class="btn">View All Pests & Diseases</a>
        </section>

        <section style="margin-top: 10px; text-decoration: underline;">
        <a href="{% url 'about' %}" class="btn">About This Project</a>
    </section>
</div>
{% endblock %}