{% load static %}

<nav class="large-nav">
    <a href="{% url 'home' %}" class="img-logo"><img class="logo" src="{% static 'images/logo.png' %}"></a>
    <a href="{% url 'home' %}">Home</a>

    <div class="dropdown">
        <a href="{% url 'diseases' %}" class="dropdown-button">Diseases and Pests ⌄</a>
        <ul class="disease-dropdown">
            {% for item in navs %}
                <li><a href="{% url 'ind_disease' name=item.name %}">{{ item.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <a href="{% url 'about' %}">About</a>
</nav>