<!-- HTML file last updated by Snelling May 3 2025 -->


{% extends 'mango_disease_app/base.html' %} 

{% block page_title %}Account{% endblock %}
{% block page_header %}Account{% endblock %}

{% load static %} 

{% block content %}
<a href="javascript:history.back()" class="back-button">← Back</a>

<h2>Case Records</h2>
<a href="{% url 'add_record' caseID %}" class="new-button">+ Add New Record</a>

{% for record in records %}
	<div class="list_item">
		<div><p>{{ record.recordedAt }}</p></div>
	</div>
{% endfor %}
	
{% endblock %}
