<!-- HTML file last updated by Snelling May 3 2025 -->


{% extends 'mango_disease_app/base.html' %} 

{% block page_title %}Account{% endblock %}
{% block page_header %}Account{% endblock %}

{% load static %} 

{% comment %}

{% block content %}
<a href="javascript:history.back()" class="back-button">← Back</a>

	<form action="{% url 'add_record' %}" method="post" novalidate>
		{% csrf_token %}
		<table>
			{{ form.as_table }}
		</table>
		<input type="submit" value="Add Record">
	</form>

	{% if new_record %}
		<div class="record-success">
			<h2>New Record Added!</h2>
			<p>
				On {{ new_record.time }} you have recorded {{ new_record.disease }}
				on the {{ new_record.partOfPlant }} of your mango trees in {{ new_record.orchard }}.
			</p>
		</div>
	{% endif %}
{% endblock %}

{% endcomment %}
