{% extends 'mango_disease_app/site_base/base.html' %} 
{% load static %} 
{% load custom_filters %}

{% block page_title %}Account{% endblock %}
{% block page_header %}Account{% endblock %}
{% block custom_head_entries %}

<link rel="stylesheet" href="{% static 'css/planner.css' %}">
{% endblock %}

{% block content %}
 <!-- BACK BUTTON -->
    <a href="{% url 'account' %}" class="back-button">← Back</a>

  <h2>Orchard Monitoring Plan</h2>
  <table class="inspection-summary">
    <thead>
      <tr>
        <th>Orchard Name</th>
          <th>Inspection Frequency</th>
          <th>Next 3 Inspection Dates</th>
        </tr>
    </thead>
    <tbody>
      {% for item in page_data %}
      <tr class="{{ item.risk_score|risk_factor_class }}">
        <td>{{ item.orchard }}</td>
        <td>{{ item.risk_score|check_frequency_format }}</td>
        <td>{% with item.risk_score|next_dates_list:item.data_used.time_last_check as dates %}{{ dates.0|date:"M d, Y" }} | {{ dates.1|date:"M d, Y" }} | {{ dates.2|date:"M d, Y" }}{% endwith %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="card-container">
    {% for item in page_data %}
      <div class="orchard-risk-card">
        <div class="header">
          <h3>{{ item.orchard }}</h3>
            <div class="risk-label {{ item.risk_score|risk_factor_class }}">{{ item.risk_score|risk_factor_format }}</div>
        </div>
      
        <div class="check-frequency">
          <strong>Recommended Check Frequency:</strong>
          <span>{{ item.risk_score|check_frequency_format }}</span>
        </div>
      
        <div class="calculation-explanation">
          <details>
            <summary>How did we calculate this score?</summary>
            <div class="score-details">
              <h4>Factors Contributing to This Risk Score:</h4>
              <ul>
                <li><strong>Detected Diseases:</strong>
                  {% if item.data_used.diseases %}
                    {{ item.data_used.diseases|join:", " }}
                  {% else %}
                    No diseases detected
                  {% endif %}
                </li>
                <li><strong>Location:</strong> {{ item.data_used.location }}</li>
                <li><strong>Stocking Rate:</strong> {{ item.data_used.stocking_rate }}</li>
                <li><strong>Seasonal Risk:</strong> {{ item.data_used.season_info }}</li>
                <li><strong>Days Since Last Record:</strong> {{ item.data_used.time_last_check }}</li>
                <li><strong>Sensitivity of Most Recent Record:</strong> {{ item.data_used.sensitivity_score }}</li>
                <li><strong>Variety of Trees:</strong> {{ item.data_used.variety }}</li>
              </ul>
            </div>
          </details>
        </div>
      </div>    
    {% endfor %}
  </div>
{% endblock %}