{% load static %}

<nav class="large-nav">
    <a href="{% url 'home' %}" class="nav-item img-logo"><img class="logo" src="{% static 'images/logo.png' %}"></a>
    <a href="{% url 'home' %}" class="nav-item">Home</a>

    <div class="dropdown nav-item">
        <a href="{% url 'diseases' %}" class="dropdown-button">Diseases and Pests ⌄</a>
        <ul class="disease-dropdown">
            {% for item in navs %}
                <li><a href="{% url 'ind_disease' name=item.diseaseName %}">{{ item.diseaseName }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <a href="{% url 'about' %}" class="nav-item">About</a>
    <a href="{% url 'register' %}" class="nav-item">Register</a>
    <a href="{% url 'userlogin' %}" class="nav-item">Login</a>
    <a href="{% url 'account' %}" class="nav-item">Account</a>
</nav>