{% load static %}

<nav class="small-nav">
    <a href="{% url 'home' %}" class="nav-item">Home</a>
    <a href="{% url 'diseases'%}" class="nav-item">Diseases</a>
    <a href="{% url 'about' %}" class="nav-item">About</a>
    <a href="{% url 'userlogin' %}" class="nav-item">Login</a>
    {% if user.is_authenticated%}
    <a href="{% url 'account' %}" class="nav-item">Account</a>
    <form class="btn-logout"action="{% url 'logout' %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="nav-item btn-logout">Logout</button>
    </form>
    {% else %}
    <a href="{% url 'register' %}" class="nav-item">Register</a>
    <a href="{% url 'userlogin' %}" class="nav-item">Login</a>
    {% endif %}
</nav>